.image-list {
	column-width: 320px;
	column-gap: 10px;
	margin: 10px auto;
}

.image-list .item {
	margin: 0 2px 15px;
  display: inline-block;
}

.image-list .item:hover {
	cursor: pointer;
}

.image-list .item img {
	width: 100%; height: auto;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
}

@media (max-width:768px) {
	.image-list {
		column-width: 160px;
	}
}